.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

ul {
	padding: 10px;
	background-color: rgb(202, 202, 202);
	margin: auto;
}

li {
	list-style: none;
	background-color: white;
	padding: 10px;
	width: 49%;
	display: flex;
	justify-content: space-between;
	border-radius: 5px;
	margin: 2px auto;
	box-shadow: 2px 2px 8px rgba(79, 79, 79, 0.316);
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form input {
	display: flex;
	margin-bottom: 15px;
}

input[type="submit"],
.button-delete {
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	border: none;
	background-color: #282c34;
	padding: 11px 20px;
	transition: ease 0.1s;
}

.button-delete {
	background-color: rgb(236, 83, 83);
	padding: 6px;
	border-radius: 4px;
	font-size: 0.6rem;
}

input[type="submit"]:hover,
.button-delete:hover {
	cursor: pointer;
	transform: scale(1.05);
}

input[type="submit"]:hover {
	background-color: #3c424f;
}

.button-delete:hover {
	background-color: rgb(234, 44, 44);
}

input[type="submit"]:disabled {
	background-color: #6b7486;
}
